<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using ErrantDaydream.Models;
    @{
        string homeClass = "";
        string aboutClass = "";
        string contactClass = "";
        if (ViewBag.Page == PageIndex.Home)
        {
            homeClass = "active";
        }
        else if (ViewBag.Page == PageIndex.About)
        {
            aboutClass = "active";
        }
        else if (ViewBag.Page == PageIndex.Contact)
        {
            contactClass = "active";
        }
    }

</head>
<body class="text-white-50">
    <nav class="navbar navbar-expand-lg">
        @Html.ActionLink("Errant Daydream", "Index", "Home", new { area = "" }, new { @class = "navbar-brand orange mr-0" })
        <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
                aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent20">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item btn-shell @homeClass">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link btn-anim" })</li>
                <li class="nav-item btn-shell @aboutClass">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link btn-anim " })</li>
                <li class="nav-item btn-shell @contactClass">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link btn-anim " })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Mains")
    @RenderSection("scripts", required: false)
</body>
</html>
